<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Neuer Report</h1>
    <p>Name: {{name}}</p>
    <p>User ID: {{userID}}</p>
    <p>Problem: {{problem}}</p>
    <p>Problem Beschreibung: {{description}}</p>
    <p>Fragen / Quiz ID: {{id}}</p>
</body>
</html>